@model QuestionsSolution.Models.Announcement
@{
    ViewBag.Title = "GetAnnouncement";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<body onload="kapat()">
    @if (@TempData["Error"] != null)
    {
        <div id="dv1" class="alert alert-danger">
            <strong style="font-size:15px;">@TempData["Error"]</strong>
            @*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>*@
        </div>
    }
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Duyuru Güncelle</h4>


                @using (Html.BeginForm("UpdateAnnouncement", "Admin", FormMethod.Post))
                {


                    <label for="Vision">Id</label> <br />
                    @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
                    <br />
                    <label for="Title">Duyuru Başlığı</label> <br />
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", required = "required" })
                    <br />
                    <label for="Explanation">Duyuru Açıklaması</label> <br />
                    @Html.TextAreaFor(x => x.Explanation, new { @class = "form-control", style = "height:200px; resize:vertical;", required = "required" })
                    <br />
                    <label for="Active">Var Olan Duyuru Aktifliği</label>
                    <br />
                    <br />
                    if (Model.Active == true)
                    {
                        <input class="form-control" type="text" value="Aktif Duyuru">
                    }
                    else
                    {
                        <input class="form-control" type="text" value="Pasif Duyuru">
                    }
                    <br>
                    @*@Html.TextBoxFor(x => x.Active, new { @class = "form-control" })*@
                    <br />
                    <label>Değiştiriniz</label>
                    <br />
                    <br />
                    @Html.CheckBox("Check1")<span>Aktif Duyuru</span>
                    <br />

                    @Html.CheckBox("Check2")<span>Pasif Duyuru</span>
                    <br />

                    <br />
                    <label for="Vision">Duyuru Tarihi</label> <br />
                    @Html.TextBoxFor(x => x.Date, new { @class = "form-control", @type = "date", required = "required" })
                    <br />
                    <button class="btn btn-outline-warning"><i class="mdi mdi-content-save"></i>&nbsp;&nbsp;Güncelle</button>
                }
                <br />
                <br />
            </div>
        </div>
    </div>
    <script>

        function kapat() {
            setTimeout("document.getElementById('dv1').style.display = 'none'", 3000);
        }
        function ActiveChange() {
            return true;
        }
        function ActiveChange2() {
            Active = false;
            return false;

        }

    </script>
   
