@using QuestionsSolution.Models
@model List<Question>
<h6 class="page-title">Arama Sonucu: Soru</h6>
<p class="page-subtitle">Arama Sonucunda <b>@Model.Count</b> sonuç bulundu.</p>
@foreach (var x in Model)
{
    <article class="col-md-12 article-list">
        <div class="inner">
            <figure>
                <a href="~/Teacher/GetDetailQuestion/@x.ID">
                    <img src="@x.Questions_picture">
                </a>
            </figure>
            <div class="details">
                <div class="detail">
                    <div class="category">
                        <a href="category.html">@x.branch.Name</a>
                    </div>
                    <div class="time">@x.Questions_date</div>
                </div>
                <h1><a href="~/Teacher/GetDetailQuestion/@x.ID">@x.QuestionName</a></h1>
                <p>
                    @x.Explanation
                </p>
                <footer>
                    <a href="#" class="love"><i class="ion-android-done"></i> <div>@x.Click</div></a>
                    <a class="btn btn-primary more" href="~/Teacher/GetDetailQuestion/@x.ID">
                        <div>Detayına Git</div>
                        <div><i class="ion-ios-arrow-thin-right"></i></div>
                    </a>
                </footer>
            </div>
        </div>
    </article>
}

